.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    max-width: 1395px;
    margin-left: 1rem;
    row-gap: 2rem;
    margin-right: 1rem;
}

.hidden{
    display: none;
}

@media (max-width: 800px) {
    .images{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .images{
        grid-template-columns: 1fr;
    }
}

.image{
    width: 80%;
    height: auto;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.2s ease-in-out;
}
.image:hover{
    transform: scale(1.1);
}
img{
    width: 100%;
    object-fit: contain;
}